<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Venue:</b>
  <%= @event.venue %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<p>
  <b>User:</b>
  <%= @event.user_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<br>
<br>
<% if user_signed_in? %>
  <% if @attending %>
    You are <strong>attending</strong> this event.<br>
    <%= link_to 'Cancel attending this event.', {:controller => "main", 
                         :action => "cancel_attend_event", 
                         :user_id => current_user.id, 
                         :event_id => @event.id},
                         :method => "post" %>
  <% else %>
    <%= link_to 'Attend this event!', {:controller => "main", 
                         :action => "attend_event", 
                         :user_id => current_user.id, 
                         :event_id => @event.id},
                         :method => "post" %>
  <% end %>
<% end %>

<br>
<br>

<h3>People going: </h3>
<% if !@attendees.empty? %>

  <% @attendees.each do |a| %>
    <%= image_tag(a.user.squareimage) %>
  <% end %>

<% else %>
  
  No one is going yet. Be the first one!

<% end %>
